        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tag Add</h5>
                <div class="row">  
                    <form action="{{url}}" method="{{data.method}}" id="form" data-model="{{model}}"  data-collection="{{data.collection}}">
                        <input type="hidden" id="id" value="{{data.obj.id}}" name='id'>
                        <input type="text" id="name" value="{{data.obj.name}}" name='name'>
                        <button type="submit">Save</button>
                    </form>
                </div>

            </div>
        </div>